<wicket:extend>
	<div class= container>
		<form wicket:id="signUpForm">
			<div class="panel panel-primary">
				<div class="panel-heading">Registration panel</div>
			    <div class="panel-body">
			     	<span wicket:id="inputField"/>
			     	 <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
			    </div>
			</div>
		</form>
		<div>
			<span wicket:id = "feedback"/>
		</div> 
	</div>
</wicket:extend>