<wicket:panel>
	<div class="input-group">
  		<span class="input-group-addon" wicket:id="labelText">LabelText</span>
  		<div class="form-control"> 
  			<select wicket:id="year"/>
    		<select wicket:id="month"/>
    		<select wicket:id="day"/>
  		</div>
  	</div>
</wicket:panel>