<wicket:panel>
	<div class="input-group">
  		<span class="input-group-addon" wicket:id="labelText">LabelText</span>
  		<div class="form-control"> 
  			<select wicket:id="drop"/>
  		</div>
  	</div>
</wicket:panel>