<wicket:panel>
	<div class="input-group">
  		<span class="input-group-addon" wicket:id="labelText">LabelText</span>
  		<input wicket:id="input" type="text" class="form-control">
  	</div>
</wicket:panel>
