<wicket:panel>
  <form wicket:id="signInForm">	
	<div class="panel panel-primary">
	   <div class="panel-heading">Sign in panel</div>
	   <div class="panel-body">
	      <form class="form-signin" role="form">
	       	<input wicket:id = "username" type="text" class="form-control" placeholder="User name" required autofocus>
	        <input wicket:id = "password" type="password" class="form-control" placeholder="Password" required>
	        <button  class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
	      </form>
		</div>
	</div>
  </form>
		<div>
			<span wicket:id = "feedback"/>
		</div> 
</wicket:panel>